<h1 [ngClass]="{
      'gray': h1Style,
      'large': !h1Style
    }">Home</h1>

<!--<h1 [style.color]="h1Style ? 'gray' : 'black'">
  Home
</h1>-->

<!--<h1 [ngStyle]="{
      'color': h1Style ? 'gray' : 'black',
      'font-size': !h1Style ? '3rem' : '1rem'
    }">Home</h1>-->

<!--<button (click)="firstClick()">Click </button>-->

<ul *ngIf="users">
  <li *ngFor="let user of users.data">
    <img [src]="user.avatar"/>
    <p>{{ user.first_name}} {{user.last_name}}</p>
  </li>
</ul>
