label {
  display: block;
}

input, textarea {
  display: block;
  width: 50%;
  margin-bottom: 20px;
  padding: 1em;
}

.error {
  margin-top: -20px;
  background: yellow;
  padding: .5em;
  display: inline-block;
  font-size: .9em;
  margin-bottom: 20px;
}

.cta {
  background: #7700FF;
  border: none;
  color: white;

  text-transform: uppercase;
  border-radius: 4px;
  padding: 1em;
  cursor: pointer;
}

.results {
  margin-top: 50px;
}

.results strong {
  display: block;
}

.results span {
  margin-bottom: 20px;
  display: block;
}
